@media screen and (max-width : 576px) {
    .workExperiancesDetails {
        margin: 30px 0px;
    }
}

@media screen and (min-width: 577px) {
    .workExperiancesDetails {
        margin-top: 30px;
    }

    .educationDetils {
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px) {
    .profileAllInformations {
        display: flex;
        column-gap: 2%;
    }

    .profilaandSkilsInfos {
        flex: 28%;
    }

    .educationandExperianceinfos {
        flex: 78%;
    }

    .workExperiancesDetails {
        padding: 20px;
        margin-top: 0;
    }

    .educationDetils {

        padding: 20px;
    }
}